* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #f6dfeb;
    background-size: cover;
}

.carousel-item {
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 270px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.imagen-logo {
    height: 70px;
    margin: 20px;
    vertical-align: middle;
}

.image-carrousel {
    height: 500px;
    /* cambia el tamaño del carrousel*/
    width: 100%;
}

.carousel {
    height: 500px;
    /* cambia el tamaño del carrousel*/
    padding: 50px;
    position: relative;
    margin: 77px;
}

/*Inicio Sesion y Registro*/

.desc-inisession {
    size: -5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    width: 100%;
    margin-top: 50px
}

.desc-inisession a {
    color: blue;
    text-decoration: none;
}

.desc-inisession a:hover {
    color: blue;
    text-decoration: none;
}

h1 {
    font-size: 10px;
    position: relative;
    margin-right: -470px;
    padding: 21px;
    float: right;
    top: -70px;
}

.desc-registro {
    size: -5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    width: 100%;
    margin-top: 50px
}

.desc-registro a {
    color: blue;
    text-decoration: none;
}

.desc-registro a:hover {
    color: blue;
    text-decoration: none;
}

h2 {
    font-size: 10px;
    position: relative;
    margin-right: -460px;
    padding: 21px;
    float: right;
    top: -60px;
}

/*Menú*/

.r-link {
    display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href] {
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list {
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
}

.menu {
    --rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link {
    display: var(--menuLinkDisplay, block);
}

.menu__link:focus {
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
}

.menu:hover .menu__link:not(:hover) {
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

.menu {
    background-color: var(--menuBackgroundColor, #f0f0f0);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    margin: -321px;
}

.menu__list {
    display: inline-flex;
}

.menu__link {
    padding: var(--menuLinkPadding, 1.1rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
}

.text-underlined {
    position: relative;
    overflow: hidden;
    will-change: color;
    transition: color .25s ease-out;
}

.text-underlined::before, .text-underlined::after {
    content: "";
    width: 0;
    height: -3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
    will-change: width;
    transition: width .1s ease-out;
    position: absolute;
    bottom: 0;
}

.text-underlined::before {
    left: 50%;
    transform: translateX(-50%);
}

.text-underlined::after {
    right: 50%;
    transform: translateX(50%);
}

.text-underlined:hover::before, .text-underlined:hover::after {
    width: 100%;
    transition-duration: .2s;
}

.page {
    box-sizing: border-box;
    max-width: 100px;
    padding-left: .75rem;
    padding-right: .75rem;
    margin: auto;
    text-align: center;
    line-height: 2px;
    font-size: 10px;
}

.page__menu:nth-child(n+2) {
    margin-top: -2.5rem;
}

/*Tarjetas*/

h3 {
    font-size: 18px;
    text-align: center;
}

p {
    font-size: 15px;
    text-align: center;
}

.wrap p {
    font-size: 15px;
}

.wrap {
    width: 1100px;
    margin: 50px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tarjeta-wrap {
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;
}

.tarjeta {
    width: 300px;
    height: 300px;
    background: white;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

.adelante, .atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.adelante {
    width: 100%;
}

.atras {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: "open sans";
    background: lightblue;
}

.tarjeta-wrap:hover .tarjeta {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card1 {
    background-image: url(http://assets.stickpng.com/thumbs/580b57fbd9996e24bc43bfea.png);
    background-size: 300px;
}

.card2 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/Celular_pope.webp);
    background-size: contain;
}

.card3 {
    background-image: url(https://www.lapolar.cl/dw/image/v2/BCPP_PRD/on/demandware.static/-/Sites-master-catalog/default/dw6b9eb57b/images/large/19901971.jpg?sw=1200&sh=1200&sm=fit);
    background-size: 300px;
}

/* CONTACTO*/

.footer {
    background-color: #8ab6d6;
    padding: 50px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a h1 {
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
    text-align: center;
    color: #ca2521 !important;
}