.foto1{
    height: 300px;
    width: 300px;
    position: relative;
    right: -250px;
    margin: 94px;
}

.listaproducto{
    font-size: 1.2em;
    text-align: justify;
    text-indent: 36em;
    margin-top: -380px;
}

h4{
    text-align: center;
}

.boton-producto{
    text-align: center;

}

.radio{
    float: left;
}

